body{

font-family:Arial;
margin:0;
background:#e6f8ff;

}

header{

text-align:center;

}

.navbar{

display:flex;
justify-content:space-between;
align-items:center;
padding:15px;
background:#0077aa;
color:white;

}

main{

width:60%;
margin:auto;

}

.createPost{

display:flex;
flex-direction:column;
gap:10px;
margin:20px 0;

}

textarea{

padding:10px;

}

button{

padding:10px;
background:#0077aa;
color:white;
border:none;
cursor:pointer;

}

#feed{

display:grid;
gap:20px;

}

.post{

background:white;
padding:15px;
border-radius:10px;

}

.comment{

margin-left:20px;
font-size:14px;

}

@media(max-width:768px){

main{

width:90%;

}

}